<h1 class="text-center">Welcome to Hindi 4 Noobs!</h1>
<h2 class="text-center">Vowels</h2>
<table class="table">
  <tbody>
    <tr>
      <th scope="col">Independent Form</th>
      <td *ngFor="let item of vowels" (click)="getSound(item)">{{item}}</td>
    </tr>
    <tr>
      <th scope="col">Dedependent Form</th>
      <td>none</td>
      <td>	ा</td>
      <td>	ि</td>
      <td>ी</td>
      <td>	ु</td>
      <td>	ू</td>
      <td>ृ</td>
      <td>	े</td>
      <td>	ै</td>
      <td>	ो</td>
      <td>ौ</td>
    </tr>
  </tbody>
</table>

<h2 class="text-center">Consonants</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Voiceless Unaspirated</th>
      <th scope="col">Voiceless Aspirated</th>
      <th scope="col">Voiced Unaspirated</th>
      <th scope="col">Voiced Aspirated</th>
      <th scope="col">Nasal</th>
    </tr>
  </thead>
  <tbody>
                <!--tr *ngFor="let item of favorites | keyvalue; let i = index" [ngClass]="(i+1)%2==0 ? 'even' :  'odd'"> 
                <td> {{i + 1}} </td>
                <td> 
                    <div>
                        <img src={{item.value.image}} style="width: 45px; height: 45px;"> 
                    </div><img src={{item.value.image}} style="width: 10%"-->
                <!--/td>
                <td style="cursor: pointer" matTooltip="{item.value.city}"> <p style="color: blue;" (click)="queryWeather(i)">{{item.value.city}}</p></td>
                <td> <p>{{item.value.state}} </p></td>
                <td><button style="background-color: #f2f1f0; border-radius: 4px;" (click)="deleteFavorite(i)"><i class="material-icons" style="color:#d3a641">delete</i></button></td>
            </tr-->
    <tr>
      <th scope="col">k-group</th>
      <td *ngFor="let item of kGroup" (click)="getSound(item)">{{item}}</td>
    </tr>
    <tr>
      <th scope="col">c-group</th>
      <td *ngFor="let item of cGroup" (click)="getSound(item)">{{item}}</td>
    </tr>
    <tr>
      <th scope="col">T-group</th>
      <td *ngFor="let item of Tgroup" (click)="getSound(item)">{{item}}</td>
    </tr>
    <tr>
      <th scope="col">t-group</th>
      <td *ngFor="let item of tGroup" (click)="getSound(item)">{{item}}</td>
    </tr>
    <tr>
      <th scope="col">p-group</th>
      <td *ngFor="let item of pGroup" (click)="getSound(item)">{{item}}</td>
    </tr>
    <tr>
      <th scope="col">Others</th>
      <td *ngFor="let item of others" (click)="getSound(item)">{{item}}</td>
    </tr>
    <tr>
      <th scope="col"></th>
      <td *ngFor="let item of others2" (click)="getSound(item)">{{item}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="col"></th>
      <td *ngFor="let item of others3" (click)="getSound(item)">{{item}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<!--table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table-->